{% extends 'base.html' %}
{% load humanize %}
{% block banner %}{% include 'banner.html' %}{% endblock banner %}
{% block header %}{% include 'header.html' %} {% endblock header %}
{% block content %}

<!-- content section  -->
<div class="contaier">
  <div class="row mt-5">
    <div class="col-12 col-md-4 left">
       <img src="{{userprof.pix.url}}" alt="" style="height: 200px;">
       <h4>{{userprof.user}}</h4>
       <ul class="list-unsytled">
        <li><a href="{% url 'profile' %}"><i class="bi bi-caret-right-square-fill"></i>profile</a></li>
        <li><a href="{% url 'profile_update' %}"><i class="bi bi-caret-right-square-fill"></i>profile update</a></li>
        <li><a href=""><i class="bi bi-caret-right-square-fill"></i>password update</a></li>
       </ul>
    </div>
    <div class="col-12 col-md-8 right">
      <form action="{% url 'password_update' %}" method="POST">
        {% csrf_token %}
          {{form.as_p}}
          <button type="submit" class="btn btn-danger">update</button>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- content section done  -->
{% endblock content %}
  {% block footer %} {% include 'footer.html' %}{% endblock footer %}